---
import BaseLayout from '../../layouts/BaseLayout.astro'
import moment from 'moment'

const blogPosts = await Astro.fetchContent('./*.md');
const blogPosts21 = blogPosts.filter((p) => p.pubDate.includes("2021"))
---

<BaseLayout title="Blog">
  <section class="flex flex-col gap-3">
    <h1 class="text-5xl font-black text-green">Blog</h1>
    <h2 class="max-w-xl text-lg">
      Technical articles, code snippets, and writings on the things I'm learning.
    </h2>	
  </section>

  <section class="max-w-screen-md">
    <h2 class="my-3 text-2xl font-bold border-b-2 text-green border-b-black">2021</h2>
    <ul class="flex flex-col">
      {blogPosts21.map((article) => (
        <li class="px-3 py-2 -mx-3 text-sm sm:text-md hover:bg-black rounded-xl">
          <a href={article.url} class="flex flex-wrap justify-between">
            <span class="font-semibold">{article.title}</span>
            <span class="text-green">
              {new Date(article.pubDate).toLocaleString("en-US", {month: "short", day: "numeric"})}
            </span>
          </a>
        </li>
      ))}
    </ul>
  </section>
</BaseLayout>
