---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";

const title = "Blog | Piero Lescano";
const description = "Technical articles, code snippets, and writings on the things I'm learning.";

const blogPosts = Astro.fetchContent("./*.md");
const blogPosts21 = blogPosts.filter(p => p.pubDate.includes("2021"));
const blogPosts22 = blogPosts.filter(p => p.pubDate.includes("2022"));
---

<BaseLayout {title} {description}>
  <!-- About -->
  <section class="flex flex-col gap-3">
    <h1 class="text-5xl font-black text-green">Blog</h1>
    <h2 class="max-w-xl text-lg">
      Technical articles, code snippets, and writings on the things I'm
      learning.
    </h2>
  </section>
  <!-- Blog -->
  {blogPosts22.length > 0 && <PostList heading="2022" articles={blogPosts22} />}
  {blogPosts21.length > 0 && <PostList heading="2021" articles={blogPosts21} />}
</BaseLayout>
