---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";
const blogPosts = await Astro.fetchContent("./*.md");
const blogPosts21 = blogPosts.filter(p => p.pubDate.includes("2021"));
---

<BaseLayout
  title="Blog | Piero Lescano"
  description="Technical articles, code snippets, and writings on the things I'm learning."
>
  <!-- About -->
  <section class="flex flex-col gap-3">
    <h1 class="text-5xl font-black text-green">Blog</h1>
    <h2 class="max-w-xl text-lg">
      Technical articles, code snippets, and writings on the things I'm
      learning.
    </h2>
  </section>
  <!-- Blog -->
  <PostList heading="2021" articles={blogPosts21} />
</BaseLayout>
