@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --color-black: #0d0c0c;
  --color-red: #c4746e;
  --color-green: #8a9a7b;
  --color-yellow: #c4b28a;
  --color-blue: #8ba4b0;
  --color-magenta: #a292a3;
  --color-cyan: #8ea4a2;
  --color-white: #c8c093;
  --color-background: #181616;
  --color-foreground: #c5c9c5;

  --font-mono: "JetBrains Mono", monospace;
}

@utility prose {
  --tw-prose-body: var(--color-foreground);
  --tw-prose-headings: var(--color-blue);
  --tw-prose-links: var(--color-blue);
  --tw-prose-bold: var(--color-blue);
  --tw-prose-counters: var(--color-foreground);
  --tw-prose-bullets: var(--color-foreground);
  --tw-prose-hr: var(--color-blue);
  --tw-prose-quotes: var(--color-foreground);
  --tw-prose-quote-borders: var(--color-blue);
  --tw-prose-captions: var(--color-foreground);
  --tw-prose-code: var(--color-foreground);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-black);
  --tw-prose-th-borders: var(--color-blue);
  --tw-prose-td-borders: var(--color-blue);
  --tw-prose-kbd: var(--color-foreground);

  code::before {
    content: "";
    padding-left: 0.25rem;
  }

  code::after {
    content: "";
    padding-right: 0.25rem;
  }

  span.inline-tag {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 0.25rem;
    border-width: 1px;
    background-color: var(--color-background);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: 0.75rem;
  }
}

@custom-variant prose-inline-code (&.prose :where(:not(pre)>code):not(:where([class~="not-prose"] *)));
