@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/jetbrains-mono-v12-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/jetbrains-mono-v12-latin-700.woff") format("woff");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/fonts/jetbrains-mono-v12-latin-italic.woff") format("woff");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("/fonts/jetbrains-mono-v12-latin-700italic.woff") format("woff");
}
