---
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Contact";
const description = "Software developer focused on building CLI tools and web applications.";
---

<BaseLayout title={title} description={description}>
  <div class="mx-10vw max-w-6xl">
    <section class="flex flex-col gap-3">
      <h1 class="text-4xl font-black text-blue">Thank you for reaching out!</h1>
      <p class="max-w-prose text-lg">I will get back in touch with you soon. Have a great day!</p>
      <a class="font-semibold text-blue decoration-2 underline-offset-4 hover:underline" href="/">Back to homepage</a>
    </section>
  </div>
</BaseLayout>
