---
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Contact";
const description = "Software developer focused on building CLI tools and web applications.";
---

<BaseLayout title={title} description={description}>
  <section>
    <h1 class="mb-3 text-4xl font-bold text-blue md:mb-6 md:text-5xl">Thanks for reaching out!</h1>
    <p class="mb-3">I will get back in touch with you soon. Have a great day!</p>
    <a class="mt-6 block max-w-fit bg-black px-6 py-2 text-center font-bold hover:text-blue" href="/">
      Back to homepage
    </a>
  </section>
</BaseLayout>
