---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Contact | Piero Lescano"
  description="The contact page is under contruction."
>
  <p class="text-4xl md:text-6xl max-w-screen-md">
    The contact page is under contruction.
  </p>
  <p class="text-xl">
    Feel free to reach out on
    <a
      href="https://www.twitter.com/v1ccenzo"
      class="font-semibold text-blue hover:underline">Twitter</a
    >.
  </p>
</BaseLayout>
