---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Contact | Piero Lescano";
const description = "Software developer focused on building CLI tools and web applications.";
---

<BaseLayout {title} {description}>
  <section class="flex flex-col mt-6 gap-3">
    <h1 class="text-5xl font-black text-blue">Contact</h1>
    <p class="max-w-prose text-lg">
      I'm always open to working on new projects, so please don't hesitate to
      reach out. Feel free to DM me on
      <a
        class="font-semibold text-blue decoration-2 underline-offset-4 hover:underline"
        href="https://www.twitter.com/v1ccenzo"
        target="_blank"
        rel="noopener noreferrer">Twitter</a
      >.
    </p>
  </section>
</BaseLayout>
