---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";

const title = "Piero Lescano";
const description = "Software developer focused on building CLI tools and web applications.";

const posts = await Astro.glob("./blog/*.mdx");
const nonDraftPosts = posts.filter(post => !post.frontmatter.draft);
---

<BaseLayout title={title} description={description}>
  <section class="max-w-screen-md flex flex-col gap-3">
    <h1 class="text-5xl font-black text-blue">{title}</h1>
    <p>
      <span class="text-red">HTML</span>
      <span class="text-cyan">CSS</span>
      <span class="text-yellow">JavaScript</span>
      <span class="text-blue">React</span>
      <span class="text-green">Python</span>
    </p>
    <p class="max-w-prose">
      I'm a Software Developer from Peru. I <a
        href="/projects"
        class="font-semibold text-green decoration-2 underline-offset-4 hover:underline"
        >build</a
      > for the web and <a
        href="/blog"
        class="font-semibold text-green decoration-2 underline-offset-4 hover:underline"
        >write</a
      > about it sometimes. My interests go from jazz, generative music, and books to Linux, open source, and anything
      web related.
    </p>
  </section>

  <PostList heading="Latest Articles" posts={import.meta.env.PROD ? nonDraftPosts : posts} dateFormat="MMM D, YYYY" />
</BaseLayout>
