---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
import ProjectList from "../components/ProjectList.astro";

const title = "Piero Lescano";
const description = "Software developer focused on building CLI tools and web applications.";

const posts = await getCollection("blog");
posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const projects = await getCollection("projects");
const favoriteProjects = projects.filter(p => p.data.favorite);
---

<BaseLayout title={title} description={description}>
  <section class="mb-6">
    <h1 class="mb-3 text-4xl font-bold text-blue md:mb-6 md:text-5xl">{title}</h1>
    <p class="mb-3">
      I'm a software developer from Peru. I <a href="/projects" class="text-blue underline">build</a> for the web and
      <a href="/blog" class="text-blue underline">write</a> about it sometimes. My interests go from jazz, generative music,
      and books to Linux, open source, and anything web related.
    </p>
  </section>

  <PostList heading="Latest posts" posts={posts.slice(0, 3)} dateFormat="MMM D, YYYY" />
  <ProjectList heading="Projects" projects={favoriteProjects} />
</BaseLayout>
