---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import PostList from "@components/PostList.astro";
import ProjectList from "@components/ProjectList.astro";

const title = "Piero Lescano";
const description = "Software developer focused on building CLI tools and web applications.";

const posts = await getCollection("blog", ({ data }) => !data.archived);
posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const projects = await getCollection("projects", ({ data }) => data.favorite);
---

<BaseLayout title={title} description={description}>
  <section class="mb-6">
    <h1 class="mb-3 text-4xl font-bold text-blue md:mb-6 md:text-5xl">{title}</h1>
    <div class="prose max-w-none">
      <p>
        I'm a full-stack developer base in Lima, Peru. I’m passionate about web development, Linux, Neovim, command-line
        tools, and self-hosting apps.
      </p>
      <p>
        Most of my work revolves around building web applications using <strong>React</strong>, <strong
          >TypeScript</strong
        >, and <strong>Node.js</strong>. I also enjoy working with <strong>Go</strong> and <strong>PostgreSQL</strong>.
      </p>
      <p>Outside of tech, I’m into coffee, music, lifting, and wrestling.</p>
    </div>
  </section>

  <PostList heading="Latest posts" posts={posts.slice(0, 3)} />
  <ProjectList heading="Projects" projects={projects} />
</BaseLayout>
