---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";

const title = "Piero Lescano";
const description =
  "Software developer focused on building CLI tools and web applications.";

const posts = Astro.fetchContent("./blog/*.md");
---

<BaseLayout {title} {description}>
  <!-- About -->
  <section class="flex flex-col gap-3">
    <h1 class="text-5xl font-black text-blue">Hi, I'm Piero.</h1>
    <p>
      <span class="text-red">HTML</span>
      <span class="text-cyan">CSS</span>
      <span class="text-yellow">JavaScript</span>
      <span class="text-blue">React</span>
      <span class="text-green">Python</span>
    </p>
    <p class="max-w-prose">
      I'm a software developer from Peru whose goal is to build beautiful user
      experiences and find solutions to unique problems through code. I'm in
      love with CLI tools and excited about front-end development and the future
      of blockchain technology.
    </p>
  </section>
  <!-- Blog -->
  <PostList heading="Latest Articles" {posts} dateFormat="MMM D, YYYY" />
</BaseLayout>
