---
import BaseLayout from '../layouts/BaseLayout.astro'
import projects from '../data/projects.json'
import ProjectCard from '../components/ProjectCard.astro'
---

<BaseLayout title="Projects | Piero Lescano">
  <section class="mt-6">
    <ul class="grid gap-5 md:grid-cols-3 place-items-center">
      {projects.map((project) => (
        <ProjectCard project={project} />
      ))}
    </ul>
  </section>
</BaseLayout>
