---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Projects from '../components/Projects.astro'
import '../styles/index.css'
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Piero Lescano - Projects</title>
</head>

<body>
	<Header />
	<Projects />
	<Footer />
</body>

</html>
