---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";

import { projects } from "../data";

const title="Projects | Piero Lescano";
const description="Software developer focused on building CLI tools and web applications.";
---

<BaseLayout {title} {description}>
  <section class="mt-6 grid gap-5 md:grid-cols-3 place-items-center">
    {projects.map(project => <ProjectCard project={project} />)}
  </section>
</BaseLayout>
