---
import BaseLayout from "../layouts/BaseLayout.astro";
import projects from "../data/projects.json";
import ProjectCard from "../components/ProjectCard.astro";
---

<BaseLayout
  title="Projects | Piero Lescano"
  description="Software developer focused on building CLI tools and web applications."
>
  <section class="mt-6 grid gap-5 md:grid-cols-3 place-items-center">
    {projects.map(project => <ProjectCard project={project} />)}
  </section>
</BaseLayout>
