<main>
  <div class="main-container">
    <h2>Coming soon</h2>
  </div>
</main>

<style>
  .main-container {
    min-height: 80vh;
    padding: 3vh;
    display: grid;
    gap: 10px;
  }

  @media screen and (min-width: 600px) {
    .main-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>