---
const { className, blogPost } = Astro.props;
---
<div class={`blog-card ${className}`}>
  <img class="blog-card-img" src="https://fakeimg.pl/350x200/">  
  <hr>
  <div class="text-container">
    <p>{blogPost.technologies.join(', ')}</p>
    <h3>{blogPost.name}</h3>
    <p>Dec 2021</p>
    <p>{blogPost.description}</p>
    <a href="">Read more</a>
  </div>
</div>

<style>
  .blog-card {
    padding: 1vh;
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    gap: 1vh;
    transition: border 0.2s
  }

  .blog-card:hover {
    border: 8px solid grey;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }

  @media screen and (min-width: 600px) {
    .grid-col-span-2 {
      grid-column: span 2;
      flex-direction: row;
    }

    .last-article {
      grid-column-start: 4;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  .img-container {
    display: flex;
  }

  .blog-card-img {
    align-self: center;
    max-width: 100%;
    width: fit-content;
  }
</style>