<section class="mx-auto max-w-screen-md">
  <h2 class="my-[1em] text-center text-3xl font-bold text-green">Comments</h2>
  <giscus-widget
    id="comments"
    repo="piero-vic/pierolescano.com"
    repoid="R_kgDOGd9pjg"
    category="Comments"
    categoryid="DIC_kwDOGd9pjs4CBO-U"
    mapping="pathname"
    reactionsenabled="1"
    emitmetadata="0"
    inputposition="bottom"
    theme="transparent_dark"
    lang="en"
    loading="eager"></giscus-widget>
</section>

<script>
  import "giscus";
</script>
