---
import SocialMediaLink from "./SocialMediaLink.astro";
---

<footer class="px-5vw py-6 text-xs">
  <div class="flex flex-col justify-between lg:flex-row items-center gap-2 max-w-7xl mx-auto">
    <ul class="flex gap-2">
      <SocialMediaLink name="prime:github" href="https://github.com/piero-vic">Github</SocialMediaLink>
      <SocialMediaLink name="prime:linkedin" href="https://www.linkedin.com/in/piero-lescano">LinkedIn</SocialMediaLink>
      <SocialMediaLink name="ph:envelope-simple-fill" href="mailto:pierolescano@protonmail.com">Email</SocialMediaLink>
    </ul>
    <div class="flex flex-col gap-2 flex-wrap sm:flex-row items-center justify-center text-center">
      <span class="font-bold">© 2021-2022 Piero Lescano</span>
      <span class="hidden sm:inline">·</span>
      <span>
        Build with <a class="font-bold text-red decoration-2 underline-offset-4 hover:underline" href="https://astro.build/">Astro</a>
        and <a class="font-bold text-blue decoration-2 underline-offset-4 hover:underline" href="https://tailwindcss.com/">TailwindCSS</a>
      </span>
      <span class="hidden sm:inline">·</span>
      <span>
        Content licensed under
        <a class="font-bold text-green decoration-2 underline-offset-4 hover:underline" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
          BY-NC-SA 4.0
        </a>
      </span>
    </div>
  </div>
</footer>
