<footer>
  <a href="./">© 2021 Piero Lescano</a> ·
  <a href="./">Twitter</a> ·
  <a href="./">GitHub</a> ·
  <a href="./">lescaspv@gmail.com</a>
</footer>

<style>
  footer {
    padding: 3vh;
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    background-color: grey;
  }
</style>