---
import { Icon } from "astro-icon/components";

const contactLinks = [
  { name: "Github", icon: "prime:github", link: "https://github.com/piero-vic" },
  { name: "LinkedIn", icon: "prime:linkedin", link: "https://www.linkedin.com/in/piero-lescano" },
  { name: "Email", icon: "ph:envelope-simple-fill", link: "mailto:pierolescano@protonmail.com" },
];
---

<footer class="py-6 text-xs md:py-8">
  <div class="mx-auto flex flex-col items-center justify-between gap-2 xl:flex-row">
    <ul class="flex gap-2">
      {
        contactLinks.map(item => (
          <li class="transition hover:text-blue">
            <a href={item.link}>
              <Icon name={item.icon} aria-hidden="true" focusable="false" class="h-6 w-6 xl:h-7 xl:w-7" />
              <span class="sr-only">{item.name}</span>
            </a>
          </li>
        ))
      }
    </ul>

    <div class="flex flex-col flex-wrap items-center gap-2 xl:items-end">
      <div class="flex items-center gap-2 font-bold">
        <Icon name="ph:copyright-bold" class="h-3 w-3" />
        Copyright 2021-2023 Piero Lescano
      </div>

      <span>
        Build with <a class="font-bold text-red hover:underline" href="https://astro.build/">Astro</a>
        and <a class="font-bold text-blue hover:underline" href="https://tailwindcss.com/">TailwindCSS</a>
      </span>
    </div>
  </div>
</footer>
