---
import SocialMediaLink from "./SocialMediaLink.astro";
---

<footer class="flex flex-wrap items-center justify-between mt-6 gap-2">
  <ul class="flex gap-2">
    <SocialMediaLink
      text="GitHub"
      icon="prime:github"
      url="https://github.com/piero-vic"
    />
    <SocialMediaLink
      text="LinkedIn"
      icon="prime:linkedin"
      url="https://www.linkedin.com/in/piero-lescano"
    />
    <SocialMediaLink
      text="Twitter"
      icon="prime:twitter"
      url="https://www.twitter.com/v1ccenzo"
    />
  </ul>
  <p class="text-sm">
    <span class="font-semibold">© 2021-2022 Piero Lescano.</span>
    Build with <a
      class="font-semibold text-red hover:underline"
      href="https://astro.build/">Astro</a
    >
    and <a
      class="font-semibold text-blue hover:underline"
      href="https://tailwindcss.com/">TailwindCSS</a
    >.
  </p>
</footer>
