<footer>
  <a href="./">© 2021 Piero Lescano</a> /
  <a href="https://github.com/piero-vic" target="_blank">GitHub</a> ·
  <a href="https://twitter.com/v1ccenzo" target="_blank">Twitter</a> ·
  <a href="https://linkedin.com/in/piero-lescano" target="_blank">LinkedIn</a> ·
  <a href="mailto: lescaspv@gmail.com">lescaspv@gmail.com</a> / 
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode" target="_blank">BY-NC-SA 4.0</a>
</footer>

<style>
  footer {
    padding: 3vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    background-color: grey;
    font-size: 12px;
  }

  @media screen and (min-width: 600px) {
    footer {
      gap: 3vh;
      font-size: 14px;
    }
  }
</style>