<header>
  <h1>Piero Lescano</h1>
  <nav>
    <a href="./">Home</a>
    <a href="./projects">Projects</a>
    <a href="./blog">Blog</a>
  </nav>
</header>

<style>
  header {
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
  }

  nav {
    display: none;
  }

  @media screen and (min-width: 600px) {
    nav {
      display: flex;
      gap: 3vh;
    }
  }
</style>