---
import { Icon } from "astro-icon";
---

<header class="px-5vw py-6 md:py-12">
  <nav class="mx-auto flex max-w-7xl items-center justify-between text-lg font-bold text-blue">
    <a href="/" class="block h-16 w-16 transition hover:scale-110">
      <Icon name="ph:cube-fill" aria-hidden="true" focusable="false" />
      <span class="sr-only">Home</span>
    </a>

    <ul class="mt-2 flex items-end justify-center gap-6 sm:mt-0 sm:flex-row">
      <li><a href="/projects" class="decoration-2 underline-offset-4 hover:underline">Projects</a></li>
      <li><a href="/blog" class="decoration-2 underline-offset-4 hover:underline">Blog</a></li>
      <li><a href="/contact" class="decoration-2 underline-offset-4 hover:underline">Contact</a></li>
    </ul>
  </nav>
</header>
