---
import DropdownMenu from './DropdownMenu.jsx'
import { Icon } from 'astro-icon'
---

<header class="flex items-center justify-between text-blue">
  <a href="/" class="w-16 h-16 transition hover:scale-110">
    <Icon name="ph:cube-fill"/>
  </a>
  <DropdownMenu client:visible />
  <nav class="hidden text-lg font-bold sm:block">
    <ul class="flex gap-4">
      <li>
        <a href="/projects" class="hover:underline">Projects</a>
      </li>
      <li>
        <a href="https://medium.com/@piero-vic" class="hover:underline">Blog</a>
      </li>
      <li>
        <a href="/contact" class="hover:underline">Contact</a>
      </li>
    </ul>
  </nav>
</header>
