---
import dayjs from "dayjs";
import { MarkdownInstance } from "astro";

export interface Props {
  heading: string;
  posts: MarkdownInstance<Record<string, any>>[];
  dateFormat: string;
}

const { heading, posts, dateFormat } = Astro.props as Props;

posts.forEach(post => (post.frontmatter.pubDate = dayjs(post.frontmatter.pubDate)));
posts.sort((a, b) => b.frontmatter.pubDate - a.frontmatter.pubDate);
---

<section class="max-w-screen-md">
  <h2 class="my-3 text-2xl font-bold border-b-2 text-green border-b-black">{heading}</h2>
  <ul class="flex flex-col max-w-screen-md">
    {posts.map(({ url, frontmatter }) => (
      <li>
        <a href={url} class="sm:text-md -mx-3 flex justify-between gap-6 rounded-xl px-3 py-2 text-sm hover:bg-black">
          <span class="font-semibold">{frontmatter.title}</span>
          <time class="text-green text-right" datetime={frontmatter.pubDate.format("YYYY-MM-DD")}>
            {frontmatter.pubDate.format(dateFormat)}
          </time>
        </a>
      </li>
    ))}
  </ul>
</section>
