---
import type { CollectionEntry } from "astro:content";

import PostCard from "@components/PostCard.astro";

export interface Props {
  heading: string;
  posts: CollectionEntry<"blog">[];
  dateFormat: string;
}

const { heading, posts } = Astro.props;
---

<section class="my-6 first:mt-0 last:mb-0">
  <h2 class="my-3 border-b border-b-blue pb-3 text-2xl font-bold text-blue">{heading}</h2>
  <ul class="space-y-4">
    {posts.map(post => <PostCard post={post} />)}
  </ul>
</section>
