---
const { heading, posts } = Astro.props;

posts.forEach(post => {
  post.pubDate = new Date(post.pubDate);
});

posts.sort((a, b) => b.pubDate - a.pubDate);

const dateOptions = { month: "short", day: "numeric" };
if (!parseInt(heading)) dateOptions.year = "numeric";

posts.forEach(post => {
  post.pubDate = post.pubDate.toLocaleString("en-US", dateOptions);
});
---

<section class="max-w-screen-md">
  <h2 class="my-3 text-2xl font-bold border-b-2 text-green border-b-black">
    {heading}
  </h2>
  <ul class="flex flex-col max-w-screen-md">
    {posts.map(post => (
      <li>
        <a
          href={post.url}
          class="sm:text-md -mx-3 flex flex-wrap justify-between rounded-xl px-3 py-2 text-sm hover:bg-black"
        >
          <span class="font-semibold">{post.title}</span>
          <span class="text-green">{post.pubDate}</span>
        </a>
      </li>
    ))}
  </ul>
</section>
