---
import projects from '../../public/projects.json';
import ProjectCard from './ProjectCard.astro';
---
<main>
  {projects.map((project) => (
    <ProjectCard project={project}/>
  ))}
</main>

<style>
  main {
    min-height: 80vh;
    padding: 3vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
</style>