---
import { Icon } from "astro-icon/components";

export interface Props {
  icon: string;
  href: string;
}

const { icon, href } = Astro.props;
---

<a
  class="flex items-center gap-1 underline transition hover:text-blue"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <Icon name={icon} aria-hidden="true" focusable="false" class="h-6 w-6" />
  <slot />
</a>
