.projectCard {
  padding: 1vh;
  border: 2px solid grey;
  display:flex;
  flex-direction: column;
  position: relative;
  gap: 1vh;
  transition: border 0.2s;
  min-height: 27vh;
}

.projectCard:hover {
  border: 8px solid grey;
}

.footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

li {
  color: grey;
}

@media screen and (min-width: 600px) {
  .projectCard > div {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}