---
import { Icon } from "astro-icon";

export interface Props {
  icon: string;
  href: string;
}

const { icon, href } = Astro.props;
---

<a class="flex h-6 items-center gap-1 transition hover:text-blue" href={href} target="_blank" rel="noopener noreferrer">
  <Icon name={icon} aria-hidden="true" focusable="false" width="100%" height="100%" />
  <slot />
</a>
