---
const { project } = Astro.props;
---

<div class="project-card">
  <h3>{project.name}</h3>
  <p>{project.description}</p>
  <div>
    <ul>
      {project.technologies.map((item) => (
        <li>{item}</li>
      ))}
    </ul>
    <a href={project.repoLink} target="_blank">Source Code</a>
  </div>
</div>

<style>
  .project-card {
    padding: 1vh;
    border: 2px solid grey;
    display:flex;
    flex-direction: column;
    position: relative;
    gap: 1vh;
    transition: border 0.2s;
    min-height: 27vh;
  }

  .project-card:hover {
    border: 8px solid grey;
  }

  .project-card > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  li {
    color: grey;
  }

  @media screen and (min-width: 600px) {
    .project-card > div {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
</style>