---
import { Icon } from "astro-icon";

export interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;
---

<li class="h-6 w-6 transition hover:scale-110 hover:text-blue">
  <a href={href}>
    <Icon name={name} aria-hidden="true" focusable="false" />
    <span class="sr-only"><slot /></span>
  </a>
</li>
