<div
  class="border border-green rounded-xl p-4 my-12 max-w-md mx-auto bg-[#292d3e]"
  x-data="metronome"
  x-effect="metronomeEffect"
>
  <div>
    <div class="text-green font-bold"><span x-text="bpm"></span> BPM</div>
    <input class="w-full" type="range" min="60" max="240" x-model="bpm" />
  </div>
  <button
    class="border rounded-xl px-2 w-1/4 text-black font-bold"
    x-bind:class="isPlaying ? 'bg-red border-red' : 'bg-green border-green'"
    x-on:click="isPlaying = !isPlaying"
    x-text="isPlaying ? 'Stop' : 'Start'"></button>
</div>

<script is:inline>
  document.addEventListener("alpine:init", () => {
    Alpine.data("metronome", () => {
      let timer = null;
      const click = new Audio("/audio/click.wav");

      return {
        bpm: 120,
        isPlaying: false,

        metronomeEffect() {
          if (timer) clearInterval(timer);
          if (this.isPlaying) {
            timer = setInterval(() => click.play(), (60 / this.bpm) * 1000);
          }
        },
      };
    });
  });
</script>
