---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.astro";
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>
  <body class="font-mono text-foreground bg-background">
    <div
      class="flex flex-col min-h-screen p-6 mx-auto xl:max-w-screen-lg 2xl:max-w-screen-xl"
    >
      <Header client:load />
      <main class="flex flex-col justify-center grow">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
