---
import Header from '../components/Header.jsx'
import Footer from '../components/Footer.astro'
import '../styles/index.css'
import { Icon } from 'astro-icon'
const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/index.css')} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg">
		<title>Piero Lescano - {title}</title>
	</head>

	<body class="font-mono">
		<div class="text-foreground bg-background">
			<div class="flex flex-col min-h-screen p-6 mx-auto max-w-screen-xl">
        <Header client:load />
	
        <main class="flex flex-col justify-center grow">
          <slot/>
        </main>

        <Footer />
			</div>
		</div>
	</body>
</html>
