---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Alpine from "../components/Alpine.astro";

import { website } from "../data.js";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead data={{ ...website, title: title, description: description }} />
    <Alpine />
  </head>
  <body class="font-mono text-foreground bg-background flex flex-col justify-between h-screen">
    <Header />
    <main class="flex flex-col justify-center gap-3 mx-10vw max-w-6xl">
      <slot />
    </main>
    <Footer />
  </body>
</html>
