---
import "../styles/index.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Alpine from "../components/Alpine.astro";
import Comments from "../components/Comments.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    image?: string;
    imageAlt?: string;
    author: string;
    pubDate: string;
    comments: boolean;
  };
}

const {
  content: { title, description, image, imageAlt, comments },
} = Astro.props as Props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} imageAlt={imageAlt} type="article" />
    <Alpine />
  </head>
  <body class="font-mono text-foreground bg-background flex flex-col justify-between h-screen">
    <Header />
    <main class="px-5vw py-6">
      <article class="prose prose-invert mx-auto max-w-screen-md prose-headings:text-green prose-a:text-green">
        <slot />
      </article>
      {comments && (
        <>
          <hr class="mx-auto my-[2em] h-[2px] max-w-screen-md border-none bg-black" />
          <Comments />
        </>
      )}
    </main>
    <Footer />
  </body>
</html>
