---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.astro";
import "prismjs/themes/prism-tomorrow.min.css";
const { title, description, image } = Astro.props.content;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {image} />
  </head>
  <body class="font-mono text-foreground bg-background">
    <div
      class="flex flex-col min-h-screen p-6 mx-auto xl:max-w-screen-lg 2xl:max-w-screen-xl"
    >
      <Header client:load />
      <main>
        <article
          class="my-6 sm:my-12 prose prose-sm sm:mx-auto lg:max-w-screen-md prose-invert prose-h1:text-green"
        >
          <slot />
        </article>
      </main>
      <Footer />
    </div>
  </body>
</html>
