---
import "../styles/index.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Alpine from "../components/Alpine.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    image?: string;
    imageAlt?: string;
    author: string;
    pubDate: string;
  };
}

const {
  content: { title, description, image, imageAlt },
} = Astro.props as Props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} imageAlt={imageAlt} type="article" />
    <Alpine />
  </head>
  <body class="font-mono text-foreground bg-background flex flex-col justify-between h-screen">
    <Header />
    <main class="px-5vw py-6">
      <article class="prose prose-invert mx-auto max-w-screen-md prose-headings:text-green prose-a:text-green">
        <slot />
      </article>
      <hr class="mx-auto max-w-screen-md my-[2em] h-[2px] bg-black border-none" />
      <section class="mx-auto max-w-screen-md">
        <h2 class="my-[1em] text-3xl text-center font-bold text-green">Comments</h2>
        <div class="giscus">
          <script
            src="https://giscus.app/client.js"
            data-repo="piero-vic/pierolescano.com"
            data-repo-id="R_kgDOGd9pjg"
            data-category="Comments"
            data-category-id="DIC_kwDOGd9pjs4CBO-U"
            data-mapping="pathname"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="transparent_dark"
            data-lang="en"
            crossorigin="anonymous"
            async
          >

          </script>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
