---
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/jetbrains-mono/400-italic.css";
import "@fontsource/jetbrains-mono/700.css";
import "@fontsource/jetbrains-mono/700-italic.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Comments from "../components/Comments.astro";
import CommitInfo from "../components/CommitInfo.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const { title, description, image, imageAlt, comments } = entry.data;
const { Content } = await entry.render();
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image || "logo.png"}
      imageAlt={imageAlt || "Piero Lescano Logo"}
      type="article"
    />
  </head>
  <body class="flex h-screen flex-col bg-background font-mono text-foreground">
    <Header />
    <main class="grow px-5vw py-6">
      <article
        class="prose prose-invert mx-auto max-w-screen-md prose-headings:text-green prose-a:text-green prose-a:no-underline hover:prose-a:underline prose-img:rounded-xl"
      >
        <h1>{title}</h1>
        <CommitInfo id={entry.id} />
        <Content />
      </article>
      {
        comments && (
          <>
            <hr class="mx-auto my-[2em] h-[2px] max-w-screen-md border-none bg-black" />
            <Comments />
          </>
        )
      }
    </main>
    <Footer />
  </body>
</html>
