---
import '../styles/index.css'
const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Piero Lescano - {title}</title>
	</head>

	<body>
		<header>
		  <h1><a href="/">Piero Lescano</a></h1>
		  <nav>
		    <a href="/">Home</a>
		    <a href="/projects">Projects</a>
		    <a href="/blog">Blog</a>
		  </nav>
		</header>

		<slot></slot>

		<footer>
		  <a href="./">© 2021 Piero Lescano</a> /
		  <a href="https://github.com/piero-vic" target="_blank">GitHub</a> ·
		  <a href="https://twitter.com/v1ccenzo" target="_blank">Twitter</a> ·
		  <a href="https://linkedin.com/in/piero-lescano" target="_blank">LinkedIn</a> ·
		  <a href="mailto: lescaspv@gmail.com">lescaspv@gmail.com</a> / 
		  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode" target="_blank">BY-NC-SA 4.0</a>
		</footer>
	</body>
</html>

<style>
  header {
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
  }

  h1 > a {
    text-decoration: none;
  }

  nav {
    display: none;
  }

  @media screen and (min-width: 600px) {
    nav {
      display: flex;
      gap: 3vh;
    }
  }

  footer {
    padding: 3vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    background-color: grey;
    font-size: 12px;
  }

  @media screen and (min-width: 600px) {
    footer {
      gap: 3vh;
      font-size: 14px;
    }
  }
</style>